#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: black;
  background-color: #062539;
  vertical-align: top;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.container {
  margin: 0;
  padding: 0;
  background-color: white;
}
.job_container {
  padding: 50px, 20px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
}
.single_job {
  display: grid;
  grid-template-columns: 6% 27% 50% 15%;
  align-items: center;
  padding: 15px 20px;
  margin: 20px 10px;
  box-shadow: 4px 4px 10px 0 rgba(22, 25, 28, .07);
  border: 1px solid #ececec;
  border-radius: 3px;
  transition: all .3s ease;
  cursor: pointer;
}
.job_thumbnail {
  padding: 0px, 30px;
}
.apply_btn {
  background-color:#062539;color:#fff;padding:10px 30px;border:none;cursor:pointer;
}
.apply_txt {
  color: white;
  text-align: center;
  margin: 0 auto;
  background-color: #062539;
}
.location_img {
  width: 15px;
  height: 15px;
}
.bold {
  font-weight: bold;
}

.entries {
  margin-bottom: 20px;
}
.pointer {
  padding-right: 10px;
}
.stack {
  display: flex;
  justify-content: flex-start;
}
.stacks {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(128, 128, 128);
  border-radius: 7px;
  margin-left: 10px;
  text-wrap: wrap;
  overflow: visible;
  width: 20%;
  min-height: 50px;
  padding-top: 10px;
}