.container-box {
    background-image: url("./bg.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-area {
    padding-top: 25px;
}

.primary-text {

    color: white;
}

.search-result {
    margin-top: 15px;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
}